---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
  <main class="mx-auto flex w-full flex-col gap-4">
    <header role="presentation">
      <h1 class="text-5xl font-bold text-primary-600 leading-[1.4em]">
        {post.data.title} - {formatDate(post.data.publishedAt)}
      </h1>
      <p class="italic my-6 text-neutral-500 text-2xl p-2 pl-4 border-neutral-800 border-l rounded">{ post.data.description }</p>
    </header>
    <div class="post">
      <Content />
    </div>
  </main>
</Layout>
