---
import Header from "../components/Header.astro";
import BlurCircle from "@/components/shared/BlurCircle.astro";
import theme from "@/data/theme";
import SEOTags from "@/components/seo/SEOTags.astro";
import type { HeadTags } from "@/utils/types/HeadTags";

import "@/styles/tailwind.css";
import "@/styles/post.css";
import "@/styles/iconfont.css";
import "@/styles/index.css";

export type Props = HeadTags;

const headTags = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <SEOTags {...headTags} />
  <body class="mx-auto text-lg text-primary-100 min-h-screen max-w-[872px] flex flex-col gap-9 pb-6 bg-neutral-900 px-6 md:gap-20 pb-[200px]">
    <Header />
    <!-- <BlurCircle position="top" color={theme.colors.blur.top} />
    <BlurCircle position="bottom" color={theme.colors.blur.bottom} /> -->
    <slot />
  </body>
</html>
